# generic files to ignore
*.swp
*.lock
*.DB_Store
*.DS_Store
*.odt

# xcode specific
*~.nib
build/*
Build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3

# pods
Pods/*

# ignore private workspace stuff added by Xcode4
xcuserdata
*.xcodeproj/xcuserdata
project.xcworkspace
*.xcuserstate
*.xcworkspace/xcshareddata
